@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* now, make it responsive */
@media (max-width: 991px) {
}

@media (max-width: 480px) {
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

@media (max-width: 1000px) {

  section {
      padding: 100px 50px;
  }

}

@media (max-width: 600px) {

  section {
      padding: 80px 30px;
  }

}

.head {
  
  background-color: rgb(37, 36, 36);
  top: 100%;
  padding: 5px;
  display: flex;

}

.head img{
  width: 2%;
  position: relative;
  right: -80px;
}

p.cab {
  height: auto;
  color:white;
  position: relative;
  right: -80px;
  top: 5px;
}

.logo {
  
  background-color: rgb(255, 254, 254);
  padding: 60px;
  display: flex;

}

.logo img {
  position: relative;
  right: -400px;
}

p.logo {
  font-size: x-large;
  height: auto;
  color:black;
  position: relative;
  right: -400px;
  top: 5px;
}

.foot {
  
  background-color: rgb(37, 36, 36);
  padding: 120px;
  display: flex;

}

p.redes {
  font-size: x-large;
  height: auto;
  color:white;
  position: relative;
  right: -250px;
  top: 30px;
}

p.contactanos {
  font-size: x-large;
  height: auto;
  color:white;
  position: relative;
  right: -675px;
  top: 30px;
}

p.numero {
  font-size: x-large;
  height: auto;
  color:white;
  position: relative;
  right: -250px;
  top: 80px;
}

p.email {
  font-size: x-large;
  height: auto;
  color:white;
  position: relative;
  right: -125px;
  top: 130px;
}

li .phone {
  color: #fff;
  font-size: 1.6em;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  transition: 0.25s;
  right: -675px;
  top: 30px;
}

li .letter {
  color: #fff;
  font-size: 1.6em;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  transition: 0.25s;
  right: -675px;
  top: 30px;
}

hr{
  height:30vh;
  width:.25vw;
  border-width:0;
  position: relative;
  right: -375px;
  color:#ffffff;
  background-color:#ffffff;
}

.sci {
display: flex;
}
.sci li {
list-style: none;
}
.sci li a {
color: #fff;
font-size: 1.6em;
margin-right: 10px;
display: inline-block;
transition: 0.25s;
position: relative;
right: -1100px;
}
.sci li a:hover {
transform: translateY(-5px);
}

.fsci {
  display: flex;
}
.fsci li {
list-style: none;
}
.fsci li a {
color: #fff;
font-size: 3em;
margin-right: 25px;
display: inline-block;
transition: 0.25s;
position: relative;
right: 80px;
top: 100px;
}
.fsci li a:hover {
transform: translateY(-5px);
}

.psci {
  display: flex;
}
.psci li {
list-style: none;
}
.psci li a {
color: #fff;
font-size: 3em;
margin-right: 25px;
display: inline-block;
transition: 0.25s;
position: relative;
right: -325px;
top: 70px;
}
.psci li a:hover {
transform: translateY(-5px);
}

.msci {
  display: flex;
}
.msci li {
list-style: none;
}
.msci li a {
color: #fff;
font-size: 3em;
margin-right: 25px;
display: inline-block;
transition: 0.25s;
position: relative;
right: -255px;
top: 125px;
}
.msci li a:hover {
transform: translateY(-5px);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1;
}

.background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.75;
}