* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --azul1: #05668d;
  --azul2: #427aa1;
  --blanco-azulado: #ebf2fa;
  --verde-oscuro: #679436;
  --verde-claro: #a5be00;
  --marron: #915d49;
  --blanco: #ffffff;
  --negro: #272727;
}

#hero {
  background-image: url("/public/assets/images/hero-image.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex; /* Para centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%;
  height: 100%;
  padding: 14rem 0;
}

#hero h1 .hero-title-header {
  font-size: 1.5rem;
}

#hero h1 .hero-title {
  font-size: 6rem;
}

#hero-btn {
  margin-top: 1rem;
  background-color: var(
    --verde-claro
  ); /* Usa la variable para el color de fondo */
  color: var(--blanco); /* Usa la variable para el color del texto */
  font-size: 1rem;
  padding: 0.5rem 2rem; /* Ajusta el espaciado según tus preferencias */
  border: 1px solid var(--verde-claro); /* Borde ligeramente bordeado */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  transition: background-color 0.3s, color 0.3s; /* Agregar una transición suave */

  /* Efecto de hover */
  &:hover {
    background-color: var(
      --verde-claro
    ); /* Cambia el color de fondo al hacer hover */
    border: 1px solid var(--verde-oscuro);
    color: var(--blanco); /* Cambia el color del texto al hacer hover */
  }

  /* Efecto de clic */
  &:active {
    background-color: var(--azul1); /* Cambia el color de fondo al hacer clic */
  }
}

/* Estilos para los botones de descarga */
.app-download-button,
.play-download-button {
  display: inline-block;
  margin: 20px 5px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
  color: var(--blanco);
  text-decoration: none;
  border: 1px solid var(--blanco);
  border-radius: 10px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

/* Efectos de hover y clic para los botones */
.app-download-button:hover,
.play-download-button:hover {
  background-color: var(--negro);
  color: var(--blanco);
}

.app-download-button:active,
.play-download-button:active {
  background-color: var(--verde-oscuro);
}

#planifica {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Asegura que los cards se centren en la vista completa */
  background-color: #f0f0f0;
}

.logo {
  position: absolute;
  top: 30px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  left: 50px; /* Ajusta la distancia desde la izquierda según tus preferencias */
  z-index: 1; /* Asegura que el logotipo esté en la parte superior */
}

.card {
  position: relative;
  width: 1000px;
  height: 200px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  opacity: 1;
}

.card-overlay-text {
  max-width: 50%;
}

.card-overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-overlay p {
  font-size: 1rem;
}
